<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISD SBD Reports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
   
</head>
<body>
    <header style="background-color:#025988;">
        <nav class="navbar mdc-bg-dark-blue">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a aria-labelledby="imgMainHeaderImage" aria-describedby="imgMainHeaderImage" href="https://www.miamidade.gov/global/home.page" target="_blank">
                            <img id=imgMainHeaderImage src="https://www.miamidade.gov/templates/developer-template/images/md-logo.png"
                                 class="mdc-global-header__mdc-logo" alt="Miami-Dade County Homepage" />
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="navbar-brand text-white" asp-page="/Index">ISD OES Complaints</a> 

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top footer text-muted mdc-bg-dark-blue">
        <div class="container">
            <div class="d-flex bd-highlight p-0">
                <div aria-labelledby="imgSecondHeaderImage" aria-describedby="imgSecondHeaderImage" class="p-1 bd-highlight vertical-center">
                    <a class="mdc-global-footer" href="https://www.miamidade.gov/global/home.page" target="_blank">
                        <img id="imgSecondHeaderImage" src="~/images/mdLogo.png"
                             class="img-fluid d-lg-inline" alt="Miami-Dade County Homepage" title="@(@System.Reflection.Assembly.GetAssembly(GetType()).GetName().Version.ToString()) " />
                    </a>
                </div>
                <div class="bd-highlight px-3">
                </div>
                <div class="bd-highlight px-3">
                </div>
                <div class="bd-highlight px-3">
                </div>
                <div aria-labelledby="lblAboutMiamiDade" aria-describedby="lblAboutMiamiDade" role="navigation" class="bd-highlight px-4">
                    <a id="lblAboutMiamiDade" class="text-white" href="https://www.miamidade.gov/global/disclaimer/about-miami-dade-county.page" target="_blank">About Miami-Dade</a>
                </div>
                <div aria-labelledby="lblDisclaimer" aria-describedby="lblDisclaimer" role="navigation" class="bd-highlight px-4">
                    <a id="lblDisclaimer" class="text-white" href="https://www.miamidade.gov/global/disclaimer/disclaimer.page" target="_blank">Disclaimer</a>
                </div>
                <div aria-labelledby="lblPrivacyStatement" aria-describedby="lblPrivacyStatement" role="navigation" class="bd-highlight px-5">
                    <a id="lblPrivacyStatement" class="text-white" href="https://www.miamidade.gov/global/disclaimer/privacy-and-security.page" target="_blank">Privacy Statement</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
