@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h2 class="display-4">Successfully Created Complaint</h2>
  <div>
    <a asp-page="NewComplaint">Create New Complaint</a>
</div>
</div>
