@page
@model IndexModel
@using SelftServiceWebApp.Models
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Click button to create Complaint</h2>
  
<div class="text-center">

<p style="text-align: center">
 <div class="form-group">
               <a asp-page="NewComplaint">
        <input type="button" class="btn btn-primary" value="Create New Complaint"/>
</a>
            </div>


<div style="bottom:0;position: fixed; width:100%;">
  <hr style="width:100%;" />
    <footer>
    

</div>

