@page
@using SelftServiceWebApp.Models
@model SelftServiceWebApp.Pages.NewComplaintModel

@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
<h1>Welcome to Online Self Service for Office of Elevator Safety Incident Reporting </h1>

<hr />
<div class="text-center">
    <h2 class="display-4">Please Click Button to Generate new Complaint</h2>
  
<div class="text-center">

<p style="text-align: center">
 <div class="form-group">
               <a asp-page="NewComplaint">
        <input type="button" class="btn btn-primary" value="Generate New Complaint"/>
</a>
            </div>


<div style="bottom:0;position: fixed; width:100%;">
  <hr style="width:100%;" />
    <footer>
    

</div>
